<!-- Favicons -->
<link href="/assets/images/favicon.png" rel="icon">
<link href="/assets/images/favicon-big.jpg" rel="apple-touch-icon">

<title>Backend Developer - 신현정 Portfolio</title>
<link rel="stylesheet" href="/assets/css/templatemo-style.css">
<div id="error">
    <div id="error_parent">
            <div class="error_box">
                <a href="/"><img src="/assets/images/404.png" alt=""></a>
        </div>
    </div>
</div>

