<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">
    <!-- Favicons -->
    <link href="/assets/images/favicon.png" rel="icon">
    <link href="/assets/images/favicon-big.jpg" rel="apple-touch-icon">

    <title>Backend Developer - 신현정 Portfolio</title>
<!--
Elegance Template
https://templatemo.com/tm-528-elegance
-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/fullpage.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">

    </head>
    
    <body>
    
    <div id="video">
        <div class="preloader">
            <div class="preloader-bounce">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <header id="header">
            <div class="container-fluid">
                <div class="navbar">
                    <div class="navigation-row">
                        <nav id="navigation">
                            <button type="button" class="navbar-toggle"> <i class="fa fa-bars"></i> </button>
                            <div class="nav-box navbar-collapse">
                                <ul class="navigation-menu nav navbar-nav navbars" id="nav">
                                    <li data-menuanchor="slide01" class="active"><a href="#slide01">Home</a></li>
                                    <li data-menuanchor="slide02"><a href="#slide02">About Me</a></li>
                                    <li data-menuanchor="slide03"><a href="#slide03">Skills</a></li>
                                    <li data-menuanchor="slide04"><a href="#slide04">Communication</a></li>
                                    <!-- <li data-menuanchor="slide05"><a href="#slide05">My Work</a></li> -->
                                    <li data-menuanchor="slide06"><a href="#slide05">Hobby</a></li>
                                    <li data-menuanchor="slide07"><a href="#slide06">Contact Me</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div id="fullpage" class="fullpage-default">

            <div class="section animated-row" data-section="slide01">
                <div class="section-inner">
                    <div class="welcome-box">
                        <h1 class="welcome-first" data-animate="fadeInUp"></h1>
                        <p></p>
                        <h1 class="welcome-title" data-animate="fadeInUp"></h1>
                        <p></p>
                        <h1 class="welcome-text" data-animate="fadeInUp"></h1>
                        <div class="scroll-down next-section animate data-animate="fadeInUp""><img src="/assets/images/mouse-scroll.png" alt=""><span>Scroll Down</span></div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide02">
                <div class="section-inner">
                    <div class="about-section">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 wide-col-laptop">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="about-contentbox">
                                            <div class="animate" data-animate="fadeInUp">
                                                <span>반갑습니다 :)</span>
                                                <h2>저를 소개합니다!</h2>
                                                <p>다양한 개발 경험을 보유한 <strong>백엔드 개발자 신현정</strong>입니다.</p>
                                                <p>어린 시절 나모웹에디터를 통한 HTML과의 만남을 시작으로 <strong>APM(Apache+PHP+MySQL)</strong> 구축을 넘어 개발자가 되었습니다</p>
                                                <p>새로운 언어를 배우는 것을 좋아하며 기술/코드의 발전을 위해 늘 고민하고 노력합니다</p>
                                            </div>
                                            <div class="facts-list owl-carousel">
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fab fa-java fa-3x"></i><span class="count-number">7</span> JAVA 7년
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fab fa-node fa-3x" aria-hidden="true"></i><span class="count-number">2</span> Node.js 2년
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fas fa-laptop-code fa-3x"></i><span class="count-number">9</span> 백앤드 9년차
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fab fa-vuejs fa-3x"></i><span class="count-number">2</span> Vue.js 2년
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <figure class="about-img animate" data-animate="fadeInUp"><img src="/assets/images/profile-girl.jpg" class="rounded" alt=""></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide03">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>Skills</span>
                                <h2>실무/개인 프로젝트/스터디를 통하여 사용한 경험이 있는 기술</h2>
                            </div>
                            <div class="services-section">
                                <div class="services-list owl-carousel">
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fab fa-java" aria-hidden="true"></i></span>
                                            <h3>JAVA</h3>
                                            <p>Java Maven/Gradle 기반 프로그램 개발(PLM, SAP 기반 ERP, 인하우스 ERP), Tomcat/Nginx 서버 연동, MySQL, Oracle, MS-SQL 연동 </p>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fa fa-cloud" aria-hidden="true"></i></span>
                                            <h3>GCP</h3>
                                            <p>* Google Cloud Platform을 사용하여 App Engine(Node.js,Vue) 서버 구축, MySQL 구축, BigQuery 데이터 처리 및 Node.js 연동
                                                <br>Compute Engine 서버 구축하여 Docker 컨테이너 배포
                                            </p>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fab fa-node" aria-hidden="true"></i></span>
                                            <h3>Node.js</h3>
                                            <p>Node.js Express + Google Cloud MySQL 기반 기존 Java 프로그램 이전 및 기능 개선, 추가 작업
                                            <br>- JWT Token 인증, Oauth2 인증 기능 구현
                                            <br>Bootstrap 사용 개인 프로젝트 진행, 사내 웹 프로그램 개발(REST API 구축)</p>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fas fa-database" aria-hidden="true"></i></span>
                                            <h3>MySQL</h3>
                                            <p>MySQL Server 구축 및 설정, ERD 작성, Query 작성
                                                <br>Backend Server와 연동
                                            </p>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fab fa-vuejs" aria-hidden="true"></i></span>
                                            <h3>Vue.js</h3>
                                            <p>Vue Router,Vuetify,Axios 사용 사내 웹 프로그램 Front 부분 개발
                                            <br>Node에 배포하여 연동 작업</p>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fab fa-js" aria-hidden="true"></i></span>
                                            <h3>JavaScript</h3>
                                            <p>JavaScript ES6 문법 활용 코드 개발, Promise 활용 비동기 처리 </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide04">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-7 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>Communication</span>
                                <h2>커뮤니케이션 능력 및 활용 Tool</h2>
                            </div>
                            <div class="skills-row animate" data-animate="fadeInDown">
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">   
                                        <div class="skill-item">
                                            <h6>협업</h6>
                                            <div class="skill-bar">
                                                <span>90%</span>
                                                <div class="filled-bar" role="progressbar" aria-valuenow="90"></div>
                                            </div>          
                                        </div>
                                        <div class="skill-item">
                                            <h6>의견 교환 및 경청</h6>
                                            <div class="skill-bar">
                                                <span>90%</span>
                                                <div class="filled-bar" role="progressbar" aria-valuenow="90"></div>
                                            </div>          
                                        </div>
                                        <div class="skill-item">
                                            <h6>Git</h6>
                                            <div class="skill-bar">
                                                <span>80%</span>
                                                <div class="filled-bar" role="progressbar" aria-valuenow="80"></div>
                                            </div>          
                                        </div>
                                        <div class="skill-item">
                                            <h6>Jira</h6>
                                            <div class="skill-bar">
                                                <span>70%</span>
                                                <div class="filled-bar" role="progressbar" aria-valuenow="70"></div>
                                            </div>          
                                        </div>            
                                        <div class="skill-item last-skill">
                                            <h6>리더쉽</h6>
                                            <div class="skill-bar">
                                                <span>95%</span>
                                                <div class="filled-bar" role="progressbar" aria-valuenow="95"></div>
                                            </div>          
                                        </div>          
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="section animated-row" data-section="slide06">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>My Work</span>
                                <h2>작업물</h2>
                            </div>
                            <div class="gallery-section">
                                <div class="gallery-list owl-carousel">
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="/assets/images/item-1.jpg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>templatemo is the best</h4>
                                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap CSS templates.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="/assets/images/item-2.jpg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>templatemo is the best</h4>
                                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap themes.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="/assets/images/item-3.jpg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>templatemo is the best</h4>
                                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap layouts.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="/assets/images/item-1.jpg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>templatemo is the best</h4>
                                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap templates.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="/assets/images/item-2.jpg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>templatemo is the best</h4>
                                                <p>Please tell your friends about it. Templatemo is the best website to download Bootstrap CSS templates.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="/assets/images/item-3.jpg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>templatemo is the best</h4>
                                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap templates.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="/assets/images/item-1.jpg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>templatemo is the best</h4>
                                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap templates.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="/assets/images/item-2.jpg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>templatemo is the best</h4>
                                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap templates.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="/assets/images/item-3.jpg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <h4>templatemo is the best</h4>
                                                <p>Please tell your friends about it. Templatemo is the best website to download free Bootstrap templates.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="section animated-row" data-section="slide05">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>Hobby</span>
                                <h2>취미들</h2>
                            </div>
                            <div class="col-md-8 offset-md-2">
                                <div class="testimonials-section">
                                    <div class="testimonials-slider owl-carousel">
                                        <div class="item animate" data-animate="fadeInUp">
                                            <div class="testimonial-item">
                                                <div class="client-row">
                                                    <img src="/assets/images/hobby_1.jpg" class="rounded-circle" alt="profile 1">
                                                </div>
                                                <div class="testimonial-content">
                                                    <h4>미니어쳐 수집</h4>
                                                    <p>실물을 축소해 놓은 듯 한 미니어쳐 수집을 좋아합니다. 미니어쳐용 진열장에 보관하고 구매를 위해 직구도 합니다.</p>
                                                </div>                                           
                                            </div>
                                        </div>
                                        <div class="item animate" data-animate="fadeInUp">
                                            <div class="testimonial-item">
                                                <div class="client-row">
                                                    <img src="/assets/images/hobby_2.jpg" class="rounded-circle" alt="profile 2">
                                                </div>
                                                <div class="testimonial-content">
                                                    <h4>고슴도치</h4>
                                                    <p>작고 귀여운 고슴도치를 키우고 있습니다. 친숙한 애완동물은 아니지만 가시를 눕히고 손 위에서 꼼지락대는 매력에 헤어나올 수 없어요.</p>
                                                </div>                                           
                                            </div>
                                        </div>
                                        <div class="item animate" data-animate="fadeInUp">
                                            <div class="testimonial-item">
                                                <div class="client-row">
                                                    <img src="/assets/images/hobby_3.jpg" class="rounded-circle" alt="profile 3">
                                                </div>
                                                <div class="testimonial-content">
                                                    <h4>물생활</h4>
                                                    <p>관상새우, 구피, 안시, 베타. 다양한 물친구들을 키우고 있습니다. 직접 축양장도 만들고 사료도 만들며 사랑을 듬뿍 주고 있어요.</p>
                                                </div>                                           
                                            </div>
                                        </div>
                                        <div class="item animate" data-animate="fadeInUp">
                                            <div class="testimonial-item">
                                                <div class="client-row">
                                                    <img src="/assets/images/hobby_4.jpg" class="rounded-circle" alt="profile 3">
                                                </div>
                                                <div class="testimonial-content">
                                                    <h4>PC 게임</h4>
                                                    <p>온라인 게임보다는 혼자 플레이하는 게임을 즐겨 합니다. 주로 스팀 게임을 플레이하며 문명, 스타듀밸리, 심즈, 유로트럭 등 다양한 종류의 게임을 합니다.</p>
                                                </div>                                           
                                            </div>
                                        </div>
                                        <div class="item animate" data-animate="fadeInUp">
                                            <div class="testimonial-item">
                                                <div class="client-row">
                                                    <img src="/assets/images/hobby_5.jpg" class="rounded-circle" alt="profile 3">
                                                </div>
                                                <div class="testimonial-content">
                                                    <h4>콘솔 게임</h4>
                                                    <p>닌텐도 매니아로 게임보이 어드밴스 SP부터 닌텐도 스위치까지 국내 발매된 모든 게임기를 소유하고 있으며 유명 게임인 동물의 숲과 포켓몬스터 시리즈는 초반 시리즈부터 현재까지 플레이하는 중이며 특히 포켓몬스터 시리즈는 첫 발매판부터 수집하고 있습니다. </p>
                                                </div>                                           
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide07">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-7 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>Contact</span>
                                <h2>연락주시면 가능한 빨리 회신을 드리겠습니다!</h2>
                            </div>
                            <div class="contact-section">
                                <div class="row">
                                    <div class="col-md-6 animate" data-animate="fadeInUp">
                                        <div class="contact-box">
                                            <div class="contact-row">
                                                <i class="fa fa-map-marker"></i>&nbsp;서울,인천 근무 가능
                                            </div>
                                            <div class="contact-row">
                                                <i class="fa fa-phone"></i>&nbsp;010-6211-1913
                                            </div>
                                            <div class="contact-row">
                                                <i class="fa fa-envelope"></i>&nbsp;playhoos@naver.com
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 animate" data-animate="fadeInUp">
                                        <form id="ajax-contact" method="post" action="/mail/send">
                                            <div class="input-field">
                                                <input type="text" class="form-control" name="name" id="name" required placeholder="Name">
                                            </div>
                                            <div class="input-field">
                                                <input type="email" class="form-control" name="email" id="email" required placeholder="Email">
                                            </div>
                                            <div class="input-field">
                                                <textarea class="form-control" name="message" id="message" required placeholder="Message"></textarea>
                                            </div>
                                            <button class="btn" type="submit">Submit</button>
                                        </form>
                                        <div id="form-messages" class="mt-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/fullpage.min.js"></script>
    <script src="/assets/js/scrolloverflow.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.inview.min.js"></script>
    <script src="/assets/js/form.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-auto-replace-svg></script>
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>

  </body>
</html>